.wrapper {
    width: 100vw;
    height: 400px;
    margin-bottom: 35px;
    background-image: url("https://wallpapers.com/images/high/food-4k-anl1yr892h6ccjeb.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 75% right 50%;
    background-color: #242424;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.searchContainer{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.wrapper input{
    width: 45%;
    height: 40px;
    padding: 4px 4px 4px 8px;
    border-radius: 4px;
    background: #fff;
    color: #242424;
    font-size: 16px;
    font-weight: normal;
    border: none;
}


input:focus {
    border: none;
    outline: none;
    background-color: white;
}

nput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #e0ffe0 inset !important;
  box-shadow: 0 0 0 1000px #e0ffe0 inset !important;
  color: #000 !important;
}

.wrapper button{
    display: inline-block;
    background-color: goldenrod;
    width: 125px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 4px;
    font-size: 18px;
    margin-top: 45px;
}

.searchOptions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 3px solid #fff;
}

.searchOptions input[type="radio"]{
    display: none;
}

.searchOptions input[type="radio"]:checked + label {
    color: goldenrod;
}

.searchOptions label {
    border: none;
}

.searchOptions label{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
