* {
    margin: 0;
    padding: 0;
}

.businessCard{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    padding: 2px 12px;
    margin: 2px;
}

.cardImage{
    width: 100%;
    border-radius: 2px;
    height: 50%;
    object-fit: cover;
}

h1{
    font-size: 18px;
    margin: 12px 0;
}

.cardBody{
    display: flex;
    justify-items: left;
}

.addressInfo{
    display: flex;
    flex-direction: column;
    flex: 6;
    text-align: left;   
}

.ratingInfo{
    display: flex;
    flex-direction: column;
    text-align: right;
    flex: 4;
}

p, span, .addressInfo>div {
    display: inline-block;
    font-size: 14px;   
}

span:not(:first-of-type){
    margin-left: 4px;
}

.category{
    color: goldenrod;
    text-transform: uppercase;
    font-weight: bold;
}

.rating{
    color: goldenrod;
}